*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style  */
 .font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 }
 .logo h2{
    font-size: 45px;   
    font-weight: 900px;
    height: 61px;
    width: 121px;
 }
 .color-of-r{
    color: #FD6E0A;
 }
  .btn{
     height: 65px;
     width: 150px;
     color: white;
     background-color: #FD6E0A;
     padding: 18px 35px;
     border: none;
     font-size: 20px;
     border-radius: 5px;
     font-weight: bold;
}
 /* main style  */
 header{
    background-color: #FFF8F3;
    padding-top: 50px;
 }
 nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
 }
 nav .menu a{
    text-decoration: none;
    color: #474747;
    height: 27px;
    width: 189px;
 }
