*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style  */
 .font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 }
 .logo h2{
    font-size: 45px;   
    font-weight: 900px;
    height: 61px;
    width: 121px;
 }
 .color-of-r{
    color: #FD6E0A;
 }
  .btn{
     color: white;
     background-color: #FD6E0A;
     padding: 18px 35px;
     border: none;
     font-size: 20px;
     border-radius: 5px;
     font-weight: bold;
     cursor: pointer;
}
.section-heading{
   max-width: 827px;
   text-align: center;
   margin: 0 auto;
}
.section-heading h2{
   color: #181818;
   font-weight: bold;
   font-size: 35px;
   margin-bottom: 30px;
}
.section-heading p{
   line-height: 30px;
   color: #757575;
   font-size: 18px;
   margin-bottom: 30px;
}
.text-center{
   text-align: center;
}
 /* main style  */
 header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png),url(../images/header_bg.png), #FFF8F3;
    background-position: 23px 38px,bottom right;
    background-repeat: no-repeat;
 }
 nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
 }
 nav .menu a{
    text-decoration: none;
    color: #474747;
    height: 27px;
    width: 189px;
 }
 #banner{
   margin: 47px 38px 0px 230px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 #banner .banner-content{
   max-width: 585px;
 }
 #banner .banner-content h1{
   font-size: 85px;
   font-weight: 700;
   color: #181818;
   margin-bottom: 20px;
 }
 #banner .banner-content h2{
   font-size: 45px;
   font-weight: 600;
   color: #474747;
   margin-bottom: 5px;
 }
 #banner .banner-content p{
   font-size: 18px;
   font-weight: normal;
   color: #757575;
   margin-bottom: 30px;
   line-height: 30px;
 }
  #banner .banner-image{
   max-width: 585px;
   margin-left: 163px;
   vertical-align: middle;
 }
#about , #skills , #resume{
   padding-top: 130px;
} 
#about .about-container{
   margin: 0 auto;
   width: 71%;
   max-width: 1140px;
   background-color: #FFF8F3;
   padding: 131px 156px;
   text-align: center;
}
.about-info{
   display: flex;
   justify-content: space-around;
}
.info-card p{
   font-size: 20px;
   line-height: 30px;
   color: #757575;
}
.info-card h4{
   font-weight: bold;
   font-size: 20px;
   line-height: 30px;
}
.skills-container {
   width: 71%;
   max-width: 1140px;
   margin: 0 auto;
}
.skills-box{
 display: flex;
 gap: 24px;
}
.skills-card{
 padding: 30px;
 border-radius: 5px;
 background-color: #ffffff;
 max-width: 267px;
 box-shadow: 0 6px 50px 0 #00000027;
}
.skills-card img{
   max-width: 44px;
   margin-bottom: 30px;
}
.skills-card h3{
  font-size: 20px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
.skills-card p{
   font-size: 16px;
   line-height: 28px;
   color: #757575;
}
.resume-container{
   width: 71%;
   max-width: 1140px;
   margin: 113px auto 0;
   display: flex;
   gap: 24px;
}
.resume-container .section-title{
   color: #474747;
   font-size: 20px;
   margin-bottom: 30px;
   font-weight: bold;
}
.resume-card{
  max-width: 511px;
  margin-right: 47px;
}
.card-title{
   font-size: 25px;
   color: #474747;
   font-weight: bold;
   margin-bottom: 10px;
}
 .card-info{
   font-size: 20px;
   font-weight: 600;
   color: #757575;
   margin-bottom: 20px;
}
.card-text{
   line-height: 28px;
   font-size: 16px;
   color: #757575;
   font-weight: 600;
}
.resume-container hr{
   margin: 30px 0;
} 
footer{
   margin-top: 130px;
   background-color: #FFF8F3;
   padding: 130px 230px;
}
.footer-container{
   display: flex;
   width: 71%;
   max-width: 1140px;
   margin: 0 auto;
   gap: 116px;
}
.social{
   max-width: 562px;
}
.social h2{
   font-weight: bold;
   font-size: 35px;
   color:#181818;
   margin-bottom: 20px;
}
.social p{
   font-size: 16px;
   line-height: 28px;
   color: #474747;
   margin-bottom: 30px;
}
.icons a{
 margin-right: 24px;              
}
.form input[type="text"],textarea
{
   max-width: 461px;
   padding: 18px 31px;
   margin-bottom: 24px;
   background-color: white;
   color: #757575;
   border: none;
   border-radius: 5px;
}

