*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style  */
 .font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 }
 .logo h2{
    font-size: 45px;   
    font-weight: 900px;
    height: 61px;
    width: 121px;
 }
 .color-of-r{
    color: #FD6E0A;
 }
  .btn{
     color: white;
     background-color: #FD6E0A;
     padding: 18px 35px;
     border: none;
     font-size: 20px;
     border-radius: 5px;
     font-weight: bold;
     cursor: pointer;
}
 /* main style  */
 header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png),url(../images/header_bg.png), #FFF8F3;
    background-position: top left,bottom right;
    background-repeat: no-repeat;
 }
 nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
 }
 nav .menu a{
    text-decoration: none;
    color: #474747;
    height: 27px;
    width: 189px;
 }
 #banner{
   margin: 47px 38px 0px 230px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 #banner .banner-content{
   max-width: 585px;
 }
 #banner .banner-content h1{
   font-size: 85px;
   font-weight: 700;
   color: #181818;
   margin-bottom: 20px;
 }
 #banner .banner-content h2{
   font-size: 45px;
   font-weight: 600;
   color: #474747;
   margin-bottom: 5px;
 }
 #banner .banner-content p{
   font-size: 18px;
   font-weight: normal;
   color: #757575;
   margin-bottom: 30px;
   line-height: 30px;
 }
  #banner .banner-image{
   max-width: 585px;
   margin-left: 163px;
   vertical-align: middle;
 }
